flows.json
[
    {
        "id": "4552562e515b3f0e",
        "type": "tab",
        "label": "Placar e Gols",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e1f2148319242611",
        "type": "inject",
        "z": "4552562e515b3f0e",
        "name": "arduino simulador2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"GOL\":1}",
        "payloadType": "json",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "79484487c0625481",
                "fef3e9effcab9c0c",
                "59408667ce67f709"
            ]
        ]
    },
    {
        "id": "79484487c0625481",
        "type": "function",
        "z": "4552562e515b3f0e",
        "name": "Function Placar",
        "func": "msg.payload = \"⚽ Total de Gols: \" + msg.payload.GOL;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 80,
        "wires": [
            [
                "8620e06076b5f57d"
            ]
        ]
    },
    {
        "id": "fef3e9effcab9c0c",
        "type": "function",
        "z": "4552562e515b3f0e",
        "name": "Function Gráfico",
        "func": "msg.topic = \"Gols\";\nmsg.payload = msg.payload.GOL;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 160,
        "wires": [
            [
                "9ee67fddb5cf9dc9"
            ]
        ]
    },
    {
        "id": "59408667ce67f709",
        "type": "debug",
        "z": "4552562e515b3f0e",
        "name": "Ver JSON",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "8620e06076b5f57d",
        "type": "ui_text",
        "z": "4552562e515b3f0e",
        "group": "8bdc172edf041744",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Placar",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "9ee67fddb5cf9dc9",
        "type": "ui_chart",
        "z": "4552562e515b3f0e",
        "name": "Gráfico de Gols",
        "group": "8bdc172edf041744",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Evolução dos Gols",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Nenhum dado",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#8c564b",
            "#e377c2",
            "#7f7f7f",
            "#bcbd22"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8bdc172edf041744",
        "type": "ui_group",
        "name": "Painel",
        "tab": "f8a2c1d29c6af052",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f8a2c1d29c6af052",
        "type": "ui_tab",
        "name": "Placar",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7059c55029844bf2",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]